@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card: 240 5% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rtl {
  direction: rtl;
}

/* Default values */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold block;
}

h1 {
  font-size: 2em;
}

.contain-icons {
  @apply flex items-center gap-1;
}

h2.contain-icons > svg {
  @apply size-7;
}

h2 {
  font-size: 1.5em;
}
.geg path {
  fill: #5be4aa;
}
h3 {
  font-size: 1.17em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.link {
  @apply underline text-blue-800 dark:text-blue-400;
}

ul {
  @apply list-disc px-5;
}

code {
  @apply bg-muted rounded-md p-1 px-2;
}

code * {
  @apply inline w-5 mb-0.5 h-5;
}

.spinner {
  @apply rounded-full border-2 p-[6px] animate-spin !border-l-transparent inline-block;
}

.bg-primary > .spinner {
  @apply border-primary-foreground;
}

.bg-destructive > .spinner {
  @apply border-destructive-foreground;
}

*:not(.bg-primary, .bg-destructive) > .spinner {
  @apply border-black dark:border-white;
}

.error,
.info,
.success {
  @apply p-3 rounded-md border-l-4;
}

.error {
  @apply border-red-500 bg-red-100 dark:bg-red-950;
}

.info {
  @apply bg-green-100 border-green-500 dark:bg-green-950;
}

.success {
  @apply bg-blue-100 border-blue-500 dark:bg-blue-950;
}

.danger-zone-action-slot {
  @apply py-4 sm:py-2 px-4 border flex-col sm:flex-row gap-4 border-red-200 rounded-lg flex justify-between items-center;
}

.ar {
  @apply font-rubik;
}
.ar ol[data-sonner-toaster="true"] > li {
  direction: rtl;
}
.ar ol[data-sonner-toaster="true"] > li > div[data-icon] {
  margin-left: var(--toast-icon-margin-end);
  margin-right: var(--toast-icon-margin-start);
}

li[data-type="error"] {
  @apply bg-red-500 text-white border-transparent;
}

li[data-sonner-toast] > button {
  @apply !p-4;
}

li[data-type="success"] {
  @apply bg-green-500 border-green-500 text-white border-transparent;
}

.common-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-nav {
  position: sticky;
  width: 100%;
  padding: 15px 30px;
  backdrop-filter: blur(10px);
  /* background-color: rgba(255, 255, 255, 0.1); */
  z-index: 20;
  top: 0;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  @apply bg-muted dark:bg-muted;
}

.app-nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lilita {
  @apply font-lilita tracking-wider text-xl;
}

.features-grid {
  @apply grid grid-cols-1 items-center py-12 gap-2;
}
.features-grid > div {
  @apply font-lilita flex md:gap-4 text-xl flex-col md:flex-row dark:bg-muted/25 bg-white transition dark:hover:bg-muted/50 px-4 border-l-8 border-primary rounded-lg;
}
.features-grid h3 {
  @apply text-primary pb-2;
}
.features-grid p,
.features-grid article > div {
  @apply max-w-prose text-balance;
}
.features-grid article {
  @apply md:pt-12;
}
.features-grid ul {
  @apply pl-8;
}
.features-grid img {
  @apply z-10 relative;
}
.features-grid > div > div {
  @apply relative w-fit h-fit flex-shrink-0;
}
.features-grid > div > div::after {
  @apply content-empty w-[calc(100%-2rem)] h-16 bg-primary/50 absolute bottom-8 left-4;
}

.blurry-bg {
  background-image: url(/landing-third-section-light.png);
  background-size: cover;
}
.dark .blurry-bg {
  background-image: url(/landing-third-section.png);
}
.plans > div {
  @apply border p-4 px-6 rounded-lg max-w-md w-full flex flex-col gap-4;
}
.plans ul {
  @apply list-none pl-2;
}
.plans > div.popular {
  @apply relative bg-gradient-to-tr from-primary/30 to-muted;
}
.plans > div.popular::before {
  @apply content-["Popular"] absolute -top-3 right-4 px-4 py-1 text-sm rounded-full bg-gradient-to-br from-blue-300 dark:from-blue-600 to-green-300 dark:to-green-800;
}

.tasks-table-header th {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider;
}

.tasks-table-columns {
  @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400;
}
.tasks-table-title-column {
  @apply px-6 py-4 w-full border-none bg-transparent dark:bg-transparent focus:outline-none focus:ring-2 
  focus:ring-indigo-500 text-gray-900 dark:text-gray-100 placeholder-gray-400 
  dark:placeholder-gray-500 transition-all;
}
